/.idea

/.env
/composer.lock
/docker-compose.override.yml

/_java/
/_js/
/_py/
/_private_scripts/
/examples/quickstart/.env
/vendor/

/.phpunit.result.cache

# Documentation
/.couscous/
/website/bower_components/
/website/css/all.min.css